@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --cor-fundo-principal: #F3F5FC; 
  --cor-primaria: #0A3871;
  --cor-secundaria: #FFFFFF;
  --cor-terciaria: #495057;
  --cor-quartenaria: #343A40;
  --cor-hover-primaria: #072B61;
  --cor-hover-secundaria: #EFF1FA;
  --cor-caixa-sombra: #00000014;
  --paddings-laterais: 40px;
  --margin-left-input-group: 13.89%;
}


* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
}

body {
  box-sizing: border-box;
  background-color: var(--cor-fundo-principal);
}

main {
  display: flex;
  padding: var(--paddings-laterais);
  gap: 80px;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
}

textarea::-webkit-scrollbar {
  display: none;
} 

textarea:focus {
  outline: 0;
}

.input-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  width: 960px;
}

.input-group__cabecalho__logo-alura {
  width: 31.09px;
  height: 48px;
  margin-left: 3.06%;
}

.input-group__cabecalho__logo-alura:hover {
  transform: 0.5;
  transform: scale(1.07);
}

.input-group__text-area {
  width: 680px;
  height: auto;
  max-height: 288px;
  margin: 64px 0px auto var(--margin-left-input-group);
  font-size: 2rem;
  line-height: 48px;
  color: var(--cor-primaria);
}

.input-group__aviso {
  display: flex
  ;
  width: 680px;
  margin: 0px 0px 0px var(--margin-left-input-group);
  gap: 8px;
}

.input-group__aviso__imagem {
  width: 16px;
  height: 16px;
}

.input-group__aviso__conteudo {
  width: 228px;
  opacity: 0.8px;
  font-size: 0.75rem;
  line-height: 18px;
}

.input-group__botoes {
  display: flex;
  width: 680px;
  margin: 0px 0px 32px var(--margin-left-input-group);
  gap: 24px;
}
  
.botoes__enc-dec-copiar {
  width: 328px;
  height: 67px;
  padding: 24px;
  border-radius: 24px;
  font-size: 1rem;
  line-height: 19px;
  text-align: center;
}

.botoes__enc-dec-copiar:hover {
  cursor: pointer;
}


#encrypt {
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
}
  
#decrypt {
  border: solid 1px var(--cor-primaria);
  background-color: transparent;
  color: var(--cor-primaria);
}

#encrypt:hover {
  background-color: var(--cor-hover-primaria);
}

#decrypt:hover {
  background-color: var(--cor-hover-secundaria);
}

.output-group__retangulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: 400px;
  height: 944px;
  border-radius: 32px;
  background-color: var(--cor-secundaria);
  box-shadow: 0px 24px 32px -8px var(--cor-caixa-sombra);
}

#imagem-ilustracao {
  display: block;
  height: 304px;
  margin-top: 243px;
}

.output-group__retangulo__guia {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0px 32px;
}

#guia-alerta {
  height: 58px;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 28.8px;
  text-align: center;
  color: var(--cor-quartenaria);
}

#guia-instrucao {
  height: 48px;
  font-size: 1rem;
  line-height: 24px;
  text-align: center;
  color: var(--cor-terciaria);
}

.output-group__retangulo__copiar-mensagem {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
  padding: 32px;
}

.mensagem {
  height: 781px;
  font-size: 1.5rem;
  line-height: 36px;
  color: var(--cor-terciaria);
}

#copiar {
  border: solid 1px var(--cor-primaria);
  background-color: transparent;
  color: var(--cor-primaria);
}

.rodape {
  font-size: 1rem;
  text-align: center;
  padding: 10px 0px;
}

#rodape__link:link, #rodape__link:visited {
  color: var(--cor-terciaria);
  text-decoration: none;
}